:root {
--wds-font-heading-brand-h0: 700 2rem/1.5 Wellcome;
--wds-font-heading-brand-h1: 700 1.5rem/1.5 Wellcome;
--wds-font-heading-brand-h2: 700 1.375rem/1.5 Wellcome;
--wds-font-heading-brand-h3: 700 1.125rem/1.5 Wellcome;
--wds-font-heading-brand-h4: 700 1rem/1.5 Wellcome;
--wds-font-heading-brand-h5: 700 0.875rem/1.5 Wellcome;
--wds-font-heading-sans-serif-h0: 500 2rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h1: 500 1.5rem/42 'Helvetica Neue';
--wds-font-heading-sans-serif-h2: 500 1.375rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h3: 500 1.125rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h4: 500 1rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h5: 500 0.875rem/1.5 'Helvetica Neue';
--wds-space-xxl: 3rem;
--wds-space-xl: 2rem;
--wds-space-l: 1.5rem;
--wds-space-m: 1rem;
--wds-space-s: 0.75rem;
--wds-space-xs: 0.5rem;
--wds-space-xxs: 0.25rem;
}

@media (min-width: 48rem) {
  :root {
--wds-font-heading-brand-h0: 700 2.125rem/1.5 Wellcome;
--wds-font-heading-brand-h1: 700 1.75rem/1.5 Wellcome;
--wds-font-heading-brand-h2: 700 1.375rem/1.5 Wellcome;
--wds-font-heading-brand-h3: 700 1.125rem/1.5 Wellcome;
--wds-font-heading-brand-h4: 700 1rem/1.5 Wellcome;
--wds-font-heading-brand-h5: 700 0.875rem/22 Wellcome;
--wds-font-heading-sans-serif-h0: 500 2.125rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h1: 500 1.75rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h2: 500 1.375rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h3: 500 1.125rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h4: 500 1rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h5: 500 0.875rem/1.5 'Helvetica Neue';
--wds-space-xxl: 4.5rem;
--wds-space-xl: 3rem;
--wds-space-l: 2rem;
--wds-space-m: 1.5rem;
--wds-space-s: 1rem;
--wds-space-xs: 0.5rem;
--wds-space-xxs: 0.25rem;
  }
}

@media (min-width: 90rem) {
  :root {
--wds-font-heading-brand-h0: 700 2.5rem/1.5 Wellcome;
--wds-font-heading-brand-h1: 700 2rem/1.5 Wellcome;
--wds-font-heading-brand-h2: 700 1.5rem/1.5 Wellcome;
--wds-font-heading-brand-h3: 700 1.25rem/1.5 Wellcome;
--wds-font-heading-brand-h4: 700 1rem/1.5 Wellcome;
--wds-font-heading-brand-h5: 700 0.875rem/1.5 Wellcome;
--wds-font-heading-sans-serif-h0: 500 2.5rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h1: 500 2rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h2: 500 1.5rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h3: 500 1.25rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h4: 500 1rem/1.5 'Helvetica Neue';
--wds-font-heading-sans-serif-h5: 500 0.875rem/1.5 'Helvetica Neue';
--wds-space-xxl: 6rem;
--wds-space-xl: 4rem;
--wds-space-l: 3rem;
--wds-space-m: 2rem;
--wds-space-s: 1rem;
--wds-space-xs: 0.5rem;
--wds-space-xxs: 0.25rem;
  }
}
