:root {
  --spacing-0: 0;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1200: 6rem;
}

:root {
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.375rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  @media (min-width: 48rem) {
    --spacing-2xs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4.5rem;
  }

  @media (min-width: 64rem) {
    --spacing-2xs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
    --spacing-2xl: 6rem;
  }
}

:root {
  --text-f-3: clamp(0.69rem, calc(0.06vw + 0.68rem), 0.75rem);
  --text-f-2: clamp(0.81rem, calc(0.06vw + 0.80rem), 0.88rem);
  --text-f-1: clamp(0.88rem, calc(0.19vw + 0.84rem), 1.06rem);
  --text-f0: clamp(1.00rem, calc(0.25vw + 0.95rem), 1.25rem);
  --text-f1: clamp(1.13rem, calc(0.38vw + 1.05rem), 1.50rem);
  --text-f2: clamp(1.25rem, calc(0.56vw + 1.14rem), 1.81rem);
  --text-f3: clamp(1.44rem, calc(0.75vw + 1.29rem), 2.19rem);
  --text-f4: clamp(1.63rem, calc(0.94vw + 1.44rem), 2.56rem);
  --text-f5: clamp(1.81rem, calc(1.31vw + 1.55rem), 3.13rem);
  --text-f6: clamp(2.00rem, calc(1.75vw + 1.65rem), 3.75rem);
}

:root {
  --font-family-brand: "Wellcome", sans-serif;
  --font-family-sans: "Inter", sans-serif;
  --font-family-mono: "IBM Plex Mono", "Courier New", Courier, monospace;
}

:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

:root {
  --letter-spacing-tight: -0.03125rem;
  --letter-spacing-comfortable: 0.0125rem;
  --letter-spacing-spacious: 0.025rem;
}

:root {
  --line-height-sm: 100%;
  --line-height-md: 130%;
  --line-height-lg: 150%;
}

:root {
  --text-transform-uppercase: uppercase;
}

:root {
  --opacity-transparent: 0;
  --opacity-25: 0.25;
  --opacity-50: 0.50;
  --opacity-75: 0.75;
  --opacity-100: 1;
}

:root {
  --grid-columns: 6;
  --grid-gutter: 0.75rem;
  --grid-margin: 1rem;

  @media (min-width: 48rem) {
    --grid-columns: 12;
    --grid-gutter: 1.5rem;
    --grid-margin: 1.25rem;
  }

  @media (min-width: 90rem) {
    --grid-gutter: 3rem;
    --grid-margin: 4.5rem;
  }
}

:root {
  --border-radius-none: 0;
  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-full: 9999px;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-neutral-10: #F5F6EE;
  --color-neutral-20: #D2D6D0;
  --color-neutral-30: #AFB5B1;
  --color-neutral-40: #8C9593;
  --color-neutral-50: #657373;
  --color-neutral-60: #445254;
  --color-neutral-70: #223438; 
  --color-pink-10: #FFF2FA;
  --color-pink-20: #FFC9EA;
  --color-pink-30: #FFA5DC;
  --color-pink-40: #F261BA;
  --color-pink-50: #CB298D;
  --color-pink-60: #860956;
  --color-pink-70: #360021;
  --color-yellow-10: #FFFEF0;
  --color-yellow-20: #FFFAAE;
  --color-yellow-30: #FFEE00;
  --color-yellow-40: #DBCD00;
  --color-yellow-50: #7A7200;
  --color-yellow-60: #544F00;
  --color-yellow-70: #2E2B00;
  --color-blue-10: #EDF6FF;
  --color-blue-20: #BFDFFF;
  --color-blue-30: #8FC7FF;
  --color-blue-40: #549FE9;
  --color-blue-50: #2672BE;
  --color-blue-60: #0C4783;
  --color-blue-70: #011F3D;
  --color-indigo-10: #EDEBFA;
  --color-indigo-20: #CAC3FA;
  --color-indigo-30: #A194F4;
  --color-indigo-40: #6C6ED7;
  --color-indigo-50: #3B44BA;
  --color-indigo-60: #242B7D;
  --color-indigo-70: #14184D; 
  --color-teal-10: #E9F5F4;
  --color-teal-20: #C3D8D7;
  --color-teal-30: #8DA8A7;
  --color-teal-40: #547876;
  --color-teal-50: #2A5250;
  --color-teal-60: #153B39;
  --color-teal-70: #012927;
  --color-orange-10: #FCF4F0;
  --color-orange-20: #FFDECD;
  --color-orange-30: #FFB691;
  --color-orange-40: #F2824A;
  --color-orange-50: #A35229;
  --color-orange-60: #6B351A;
  --color-orange-70: #33190C;
  --color-green-10: #F0F5DF;
  --color-green-20: #D9E3B3;
  --color-green-30: #B6C47E;
  --color-green-40: #98A953;
  --color-green-50: #64761F;
  --color-green-60: #46540D;
  --color-green-70: #212900;
}

:root {
  --color-ui-blue-10: #EDF6FF;
  --color-ui-blue-40: #549FE9;
  --color-ui-blue-60: #0C4783;
  --color-ui-green-10: #EFFCE3;
  --color-ui-green-40: #81C14B;
  --color-ui-green-60: #417F0D;
  --color-ui-yellow-10: #FFFEF0;
  --color-ui-yellow-40: #DBCD00;
  --color-ui-yellow-60: #544F00;
  --color-ui-red-10: #FFF0F2;
  --color-ui-red-40: #E72343;
  --color-ui-red-60: #6C131D;

  --color-annotations-purple: #6549f5;
  --color-annotations-purple-light: rgba(101, 73, 245, 0.2);
  --color-annotations-green: #15a045;
  --color-annotations-pink: #ea07e4;
  
  --color-information-light: var(--color-ui-blue-10);
  --color-information-mid: var(--color-ui-blue-40);
  --color-information-dark: var(--color-ui-blue-60);
  --color-success-light: var(--color-ui-green-10);
  --color-success-mid: var(--color-ui-green-40);
  --color-success-dark: var(--color-ui-green-60);
  --color-warning-light: var(--color-ui-yellow-10);
  --color-warning-mid: var(--color-ui-yellow-40);
  --color-warning-dark: var(--color-ui-yellow-60);
  --color-error-light: var(--color-ui-red-10);
  --color-error-mid: var(--color-ui-red-40);
  --color-error-dark: var(--color-ui-red-60);
}

:root {
  --color-collection-neutral-cool-200: #fbfaf4;
  --color-collection-neutral-cool-300: #e8e8e8;
  --color-collection-neutral-cool-400: #d9d9d9;
  --color-collection-neutral-cool-500: #878787;
  --color-collection-neutral-cool-600: #6a6a6a;
  --color-collection-neutral-cool-700: #323232;
  --color-collection-neutral-cool-1000: #121212;
  --color-collection-neutral-warm-200: #fff9e6;
  --color-collection-neutral-warm-300: #edece4;
  --color-collection-neutral-warm-400: #d9d8d0;
  --color-collection-yellow-200: #ffebad;
  --color-collection-yellow-500: #ffce3c;
  --color-collection-yellow-700: #ddb029;
  --color-collection-green-200: #9bc0af;
  --color-collection-green-500: #4f7d68;
  --color-collection-green-700: #3a604f;
  --color-collection-blue-200: #a4bfdf;
  --color-collection-blue-700: #27476e;
  --color-collection-turquoise-200: #a2eeed;
  --color-collection-turquoise-700: #1dbebb;
  --color-collection-salmon-200: #ff9585;
  --color-collection-salmon-700: #ff6f59;
  --color-collection-purple-200: #baa4cd;
  --color-collection-purple-700: #724e91;
  --color-collection-ui-validation-green: #0b7051;
  --color-collection-ui-validation-red: #e01b2f;
  --color-collection-ui-focus-yellow: #ffea00;
}

:root {
  --old-color-black: #000;
  --old-color-white: #fff;
  --old-color-amber-90: #382a00;
  --old-color-amber-80: #4d3900;
  --old-color-amber-70: #705400;
  --old-color-amber-60: #946f00;
  --old-color-amber-50: #c29207;
  --old-color-amber-40: #e7ae04;
  --old-color-amber-30: #fec200;
  --old-color-amber-20: #ffe699;
  --old-color-amber-10: #fff4d1;
  --old-color-amber-05: #fffbf0;
  --old-color-blue-90: #002e45;
  --old-color-blue-80: #003170;
  --old-color-blue-70: #004099;
  --old-color-blue-60: #05c;
  --old-color-blue-50: #1672f3;
  --old-color-blue-40: #4d97ff;
  --old-color-blue-30: #80b5ff;
  --old-color-blue-20: #b3d2ff;
  --old-color-blue-10: #dbeaff;
  --old-color-blue-05: #f0f6ff;
  --old-color-cyan-90: #002c33;
  --old-color-cyan-80: #00424d;
  --old-color-cyan-70: #005361;
  --old-color-cyan-60: #006272;
  --old-color-cyan-50: #009bb2;
  --old-color-cyan-40: #71bdd0;
  --old-color-cyan-30: #9dd8e7;
  --old-color-cyan-20: #beebf4;
  --old-color-cyan-10: #dcf4f9;
  --old-color-cyan-05: #f1fcfd;
  --old-color-green-90: #133800;
  --old-color-green-80: #2a512c;
  --old-color-green-70: #236126;
  --old-color-green-60: #4c8026;
  --old-color-green-50: #6ba136;
  --old-color-green-40: #8cc059;
  --old-color-green-30: #b6d99c;
  --old-color-green-20: #e6f1d3;
  --old-color-green-10: #f0f9e7;
  --old-color-green-05: #f7fcf2;
  --old-color-grey-90: #000;
  --old-color-grey-80: #292929;
  --old-color-grey-70: #5c5c5c;
  --old-color-grey-60: #767676;
  --old-color-grey-60-rgb: 118, 118, 118;
  --old-color-grey-50: #878787;
  --old-color-grey-40: #999;
  --old-color-grey-30: #b3b3b3;
  --old-color-grey-20: #ccc;
  --old-color-grey-10: #e6e6e6;
  --old-color-grey-05: #f2f2f2;
  --old-color-orange-90: #331e0f;
  --old-color-orange-80: #572b00;
  --old-color-orange-70: #8a471e;
  --old-color-orange-60: #b45c04;
  --old-color-orange-50: #f07f0a;
  --old-color-orange-40: #ffa64d;
  --old-color-orange-30: #ffbf80;
  --old-color-orange-20: #ffd9b2;
  --old-color-orange-10: #ffeddb;
  --old-color-orange-05: #fff7f0;
  --old-color-red-90: #40120d;
  --old-color-red-80: #6c131d;
  --old-color-red-70: #b3001e;
  --old-color-red-60: #e10f2d;
  --old-color-red-50: #e72343;
  --old-color-red-40: #f04763;
  --old-color-red-30: #f2637b;
  --old-color-red-20: #ed858e;
  --old-color-red-10: #f9cdca;
  --old-color-red-05: #fff0f2;
  --old-color-yellow-90: #3d3800;
  --old-color-yellow-80: #574f00;
  --old-color-yellow-70: #706601;
  --old-color-yellow-60: #817818;
  --old-color-yellow-50: #bfa70d;
  --old-color-yellow-40: #ffea00;
  --old-color-yellow-30: #fff266;
  --old-color-yellow-20: #fff9a6;
  --old-color-yellow-10: #fffde2;
  --old-color-yellow-05: #fffef0;
}